.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexCenterColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textNormalize {
  text-decoration: none;
  color: #ffffff;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5;
}
html,
body {
  font-family: 'Roboto', 'Oswald';
}
.container {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(144, 19, 254, 0.2), rgba(61, 157, 226, 0.2)), url(../assests/img/meghan-holmes-buWcS7G1_28-unsplash.jpg);
  background-position: right top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 5rem;
}
.banner {
  padding: 3rem;
}
.header {
  width: 80%;
  margin-top: 0;
  margin-left: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  background: none;
  padding-left: 1rem;
}
.header img {
  width: 10rem;
}
.statement {
  width: 35%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin-left: 2rem;
}
@media (max-width: 800px) {
  .statement {
    width: 50%;
  }
}
.signup-parent {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 800px) {
  .signup-parent {
    flex-direction: column;
    align-items: center;
  }
}
.signup-section {
  width: 35%;
  font-family: oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background: linear-gradient(rgba(68, 215, 182, 0.7), rgba(50, 197, 255, 0.7));
  border-radius: 0.8rem;
}
@media (max-width: 800px) {
  .signup-section {
    width: 80%;
    margin: 2rem;
  }
}
.signup-content {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.signup-content h3 {
  margin-bottom: 1rem;
}
.signup-content button {
  margin: 1rem;
  margin-bottom: 2rem;
}
.signup-content p {
  margin: 1rem;
  color: black;
  line-height: 1;
  font-size: 1rem;
  white-space: nowrap;
}
.signup-content a {
  text-decoration: none;
  color: #ffffff;
}
.signup-content a:hover {
  text-decoration: underline;
}
.btn {
  padding: 0.5rem 2rem;
  background: #FF8C42;
  border-radius: 10rem;
  font-size: 1.3rem;
  border: none;
  color: #FFFFFF;
  transition: ease 0.2s;
  width: 80%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: helvetica;
  font-weight: 400;
  text-align: center;
  margin: 0;
  transition: ease text-indent 0.9s;
  cursor: pointer;
}
.btn:hover {
  color: #FF8C42;
  background: #FFFFFF;
  text-indent: -4px;
  transition: text-indent 0.5s;
}
.btn:hover::before {
  display: inline-block;
}
.nav {
  -webkit-transition: right 0.5s ease;
  -moz-transition: right 0.5s ease;
  -ms-transition: right 0.5s ease;
  -o-transition: right 0.5s ease;
  transition: right 0.5s ease;
  background: linear-gradient(#3D9DE2, #9013FE);
  color: white;
  font-size: 2rem;
  height: 100vh;
  right: -20rem;
  padding: 6rem 2rem 2rem 2rem;
  position: fixed;
  top: 0;
  width: 20rem;
  z-index: 1;
}
.nav ul {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 10rem;
}
.nav li:hover {
  background-color: #FF8C42;
}
.nav a {
  text-decoration: none;
  color: #ffffff;
}
.nav.expanded {
  right: 0;
}
.nav-toggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  height: 2rem;
  right: 2rem;
  position: fixed;
  top: 2rem;
  width: 3.6rem;
  z-index: 2;
}
.nav-toggle:hover {
  opacity: 0.8;
}
.nav-toggle .nav-toggle-bar,
.nav-toggle .nav-toggle-bar::after,
.nav-toggle .nav-toggle-bar::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: white;
  content: "";
  height: 0.4rem;
  width: 100%;
}
.nav-toggle .nav-toggle-bar {
  margin-top: 0;
}
.nav-toggle .nav-toggle-bar::after {
  margin-top: 0.8rem;
}
.nav-toggle .nav-toggle-bar::before {
  margin-top: -0.8rem;
}
.nav-toggle.expanded .nav-toggle-bar {
  background: transparent;
}
.nav-toggle.expanded .nav-toggle-bar::after,
.nav-toggle.expanded .nav-toggle-bar::before {
  background: white;
  margin-top: 0;
}
.nav-toggle.expanded .nav-toggle-bar::after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-toggle.expanded .nav-toggle-bar::before {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.bottom-container {
  width: 100%;
}
.bottom-container button {
  margin: 1rem;
  border: 2px solid #FF8C42;
}
.client-section {
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3rem;
}
@media (max-width: 800px) {
  .client-section {
    flex-direction: column;
    justify-content: center;
  }
}
.client-section button {
  margin: 1rem;
}
.client-section p {
  margin: 1rem;
  font-size: 1.4rem;
  color: black;
}
.trainer-section {
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3rem;
}
@media (max-width: 800px) {
  .trainer-section {
    flex-direction: column-reverse;
  }
}
.trainer-section p {
  margin: 1rem;
  font-size: 1.4rem;
  color: black;
}
.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  max-width: 40rem;
  width: 50%;
}
