.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexCenterColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textNormalize {
  text-decoration: none;
  color: #ffffff;
}
.featureSectionAlign {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 5rem;
}
.mainGradient {
  background: linear-gradient(#9013FE, #3D9DE2);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5;
}
html,
body {
  font-family: 'Roboto', 'Oswald';
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(144, 19, 254, 0.35), rgba(61, 157, 226, 0.2)), url(../assets/img/meghan-holmes-buWcS7G1_28-unsplash.jpg);
  background-position: right top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 5rem;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-left: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  padding: 2% 5% 2% 0%;
}
@media (max-width: 800px) {
  .header {
    padding: 2% 10% 2% 0%;
  }
}
@media (max-width: 500px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
  }
}
.header img {
  width: 10rem;
}
.header .nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  font-size: 35%;
  font-weight: bold;
  height: 3rem;
  width: 70%;
}
@media (max-width: 500px) {
  .header .nav {
    padding: 0;
    padding-left: 0;
    height: 4rem;
    width: 100%;
    margin-bottom: 3rem;
  }
}
.header .nav a {
  text-decoration: none;
  color: #FFFFFF;
  transition: ease 0.2s;
  padding: 0.5rem;
  border-radius: 10rem;
}
.header .nav a:hover {
  background-color: #FF8C42;
}
@media (max-width: 500px) {
  .header .nav a {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin: 0;
    font-size: 1.3rem;
  }
}
.statement {
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 200%;
  line-height: 33px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  padding: 2rem 10rem 5rem 10rem;
}
.statement p {
  text-align: center;
}
@media (max-width: 800px) {
  .statement {
    width: 100%;
    padding: 2rem 10rem;
  }
}
@media (max-width: 665px) {
  .statement {
    padding: 2rem 4rem;
  }
}
@media (max-width: 500px) {
  .statement {
    padding: 0 2rem 1rem 2rem;
  }
}
.signup-parent {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 800px) {
  .signup-parent {
    flex-direction: column;
    align-items: center;
  }
}
.signup-section {
  width: 35%;
  font-family: oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background: linear-gradient(rgba(68, 215, 182, 0.7), rgba(50, 197, 255, 0.7));
  border-radius: 0.8rem;
}
@media (max-width: 800px) {
  .signup-section {
    width: 70%;
    margin: 5%;
  }
}
@media (max-width: 500px) {
  .signup-section {
    width: 70%;
  }
}
.spacer-bar {
  width: 0.5%;
  background-color: #E9E9E9;
}
@media (max-width: 800px) {
  .spacer-bar {
    width: 80%;
    margin-bottom: 2rem;
  }
}
.signup-content {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.signup-content h3 {
  margin-bottom: 1rem;
  text-align: center;
}
.signup-content button {
  margin: 1rem;
  margin-bottom: 2rem;
}
.signup-content p {
  margin: 1rem;
  color: black;
  line-height: 1;
  font-size: 1rem;
  white-space: nowrap;
}
.signup-content a {
  text-decoration: none;
  color: #ffffff;
}
.signup-content a:hover {
  text-decoration: underline;
}
.btn {
  padding: 0.5rem 2rem;
  background: #FF8C42;
  border-radius: 10rem;
  font-size: 1.3rem;
  border: none;
  color: #FFFFFF;
  transition: ease 0.2s;
  width: 80%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: helvetica;
  font-weight: 400;
  text-align: center;
  margin: 0;
  transition: ease text-indent 0.9s;
  cursor: pointer;
}
.btn:hover {
  color: #FF8C42;
  background: #FFFFFF;
  text-indent: -4px;
  transition: text-indent 0.5s;
}
.btn:hover::before {
  display: inline-block;
}
.middle-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.middle-container .top,
.middle-container .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 5rem;
  background: linear-gradient(#FFFFFF, #3D9DE2, #FFFFFF);
}
@media (max-width: 500px) {
  .middle-container .top,
  .middle-container .bottom {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
.middle-container .top h2,
.middle-container .bottom h2 {
  font-size: 210%;
  color: #FFFFFF;
  font-weight: bold;
  line-height: 2.5rem;
}
@media (max-width: 500px) {
  .middle-container .top h2,
  .middle-container .bottom h2 {
    color: #323337;
  }
}
.middle-container .top p,
.middle-container .bottom p {
  font-size: 130%;
  color: #FFFFFF;
  line-height: 2rem;
}
@media (max-width: 500px) {
  .middle-container .top p,
  .middle-container .bottom p {
    color: #323337;
  }
}
.middle-container .top .left,
.middle-container .bottom .left {
  width: 50%;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .middle-container .top .left,
  .middle-container .bottom .left {
    width: 100%;
  }
}
.middle-container .top .left .img,
.middle-container .bottom .left .img {
  height: 100%;
  width: 40%;
  border: 1px solid;
  border-radius: 1rem;
  box-shadow: -15px -15px #858891;
  margin-bottom: 2rem;
}
.middle-container .top .right,
.middle-container .bottom .right {
  width: 65%;
  display: flex;
  padding-right: 5rem;
}
@media (max-width: 500px) {
  .middle-container .top .right,
  .middle-container .bottom .right {
    padding-right: 0;
  }
  .middle-container .top .right article,
  .middle-container .bottom .right article {
    text-align: center;
  }
}
.middle-container .middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 5rem;
  background: linear-gradient(#9013FE, #FFFFFF, #9013FE);
}
@media (max-width: 500px) {
  .middle-container .middle {
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
}
.middle-container .middle h2 {
  font-size: 210%;
  color: #323337;
  font-weight: bold;
  line-height: 2.5rem;
}
@media (max-width: 400px) {
  .middle-container .middle h2 {
    color: #323337;
  }
}
.middle-container .middle p {
  font-size: 130%;
  color: #323337;
  line-height: 2rem;
}
@media (max-width: 400px) {
  .middle-container .middle p {
    color: #323337;
  }
}
.middle-container .middle .left {
  width: 65%;
  display: flex;
  padding-left: 5rem;
}
@media (max-width: 500px) {
  .middle-container .middle .left {
    padding-left: 0;
  }
  .middle-container .middle .left article {
    text-align: center;
  }
}
.middle-container .middle .right {
  width: 50%;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .middle-container .middle .right {
    width: 100%;
  }
}
.middle-container .middle .right .img {
  height: 100%;
  width: 40%;
  border: 1px solid;
  border-radius: 1rem;
  box-shadow: 15px -15px #E9E9E9;
  margin-bottom: 2rem;
}
.bottom-container {
  width: 100%;
  background: none;
}
.bottom-container button {
  margin: 1rem;
  border: 2px solid #FF8C42;
  max-width: 25rem;
}
.client-section {
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3rem;
}
.client-section h3 {
  margin-top: 2rem;
}
@media (max-width: 800px) {
  .client-section {
    flex-direction: column;
    justify-content: center;
  }
}
.client-section button {
  margin: 1rem;
}
.client-section p {
  margin: 1rem;
  font-size: 1.4rem;
  color: black;
}
@media (max-width: 800px) {
  .client-section p {
    text-align: center;
  }
}
.trainer-section {
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3rem;
}
.trainer-section h3 {
  margin-top: 2rem;
}
@media (max-width: 800px) {
  .trainer-section h3 {
    margin-left: 2rem;
  }
}
@media (max-width: 800px) {
  .trainer-section {
    flex-direction: column-reverse;
  }
}
.trainer-section p {
  margin: 1rem;
  font-size: 1.4rem;
  color: black;
}
@media (max-width: 800px) {
  .trainer-section p {
    text-align: center;
  }
}
.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  max-width: 40rem;
  width: 40%;
}
.about-body {
  background: linear-gradient(#3D9DE2, #9013FE);
  height: 100vh;
}
.tabs {
  border-bottom: 2px solid #E9E9E9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 47px;
}
.tabs .topics {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
}
.tabs .topics .tab {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  color: #E9E9E9;
  margin-right: 5rem;
  padding: 2px 10px;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: bold;
}
.tabs .topics .tab:hover {
  text-decoration: underline;
}
.cards-container {
  display: flex;
  justify-content: space-evenly;
  align-items: none;
  flex-direction: row;
  width: 100%;
  margin-top: 16px;
  flex-wrap: wrap;
}
.cards-container .card {
  border-bottom: 1px solid lightgrey;
  display: none;
  justify-content: space-between;
  align-items: none;
  flex-direction: column;
  width: 380px;
  margin-bottom: 16px;
  padding: 24px;
}
.cards-container .card .headline {
  font-size: 25px;
  font-family: Didot, serif;
}
.cards-container .card .author {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  margin-top: 15px;
}
.cards-container .card .author .img-container {
  padding-right: 10px;
  border-right: 1px solid lightgrey;
  height: 40px;
}
.cards-container .card .author .img-container img {
  width: 40px;
}
.cards-container .card .author span {
  padding-left: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
}
.title {
  color: #E9E9E9;
  text-shadow: #9013FE;
}
.carousel {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#9013FE, #3D9DE2);
}
@media (min-width: 1200px) {
  .carousel {
    width: 1200px;
  }
}
.carousel .inner {
  margin: 6rem 0;
  width: 100%;
  display: flex;
  height: 20rem;
  background-color: #FFFFFF;
}
.carousel #img1 {
  display: flex;
}
.carousel .left-button,
.carousel .right-button {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: row;
  color: #FFFFFF;
  background-color: #FF8C42;
  font-size: 40px;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.carousel .left-button:hover,
.carousel .right-button:hover {
  color: #FF8C42;
  background-color: #FFFFFF;
  border: 2px solid #FF8C42;
}
.carousel .left-button {
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
  z-index: 10;
}
.carousel .right-button {
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
}
.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}
.testimonial {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  display: none;
  height: 20rem;
  position: relative;
  bottom: 4rem;
}
@media (max-width: 508px) {
  .testimonial {
    width: 9rem;
  }
}
.testimonial img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}
.testimonial p {
  font-size: 3rem;
  text-align: center;
}
@media (max-width: 508px) {
  .testimonial p {
    font-size: 1.7rem;
  }
}
.fas {
  position: absolute;
  top: 0.3rem;
}
