/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container {
  position: absolute;
}
.container img {
  position: absolute;
  width: 836px;
  height: 561px;
  left: 0px;
  top: 0px;
  background: rgba(173, 139, 244, 0.5);
}
.content-info {
  position: absolute;
  width: 640px;
  height: 119px;
  left: 27px;
  top: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.statement {
  position: absolute;
  width: 393px;
  height: 135px;
  left: 27px;
  top: 119px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.client {
  position: absolute;
  width: 168px;
  height: 74px;
  left: 112px;
  top: 306px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.instructor {
  position: absolute;
  width: 207px;
  height: 74px;
  left: 540px;
  top: 306px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
#btn {
  position: absolute;
  width: 160px;
  height: 46px;
  left: 116px;
  top: 388px;
  background: #FE855E;
  border-radius: 86px;
}
.signup {
  position: absolute;
  width: 160px;
  height: 46px;
  left: 116px;
  top: 388px;
  background: #FE855E;
  border-radius: 86px;
}
a {
  position: absolute;
  width: 264px;
  height: 31px;
  left: 483px;
  top: 457px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #000000;
}
