body{
    background: linear-gradient(@bright-blue,@vivid-violet)
}
.nav-container{
    // border:2px solid red;
    margin-top: 2rem;
    width: 100%;
    display:flex;
    justify-content: space-between;
}
.logo-img{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    width: 40%;
    margin-left: 3.5rem;
}
.nav-links {
    // border: 2px solid green;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width:20%;
    margin-left: 47rem;
}
.about-info{
    // border:2px solid blue;
    display: flex;
    justify-content: center;
    top: 5rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 4.4rem;
    line-height: 3.5rem;
    margin-right: 47rem;
    color: @very-light-gray;
    text-shadow: .5rem .5rem @vivid-violet;
}
.staff {
    // border:2px solid gold;
    margin-top: 5rem;
}
.staff-member{


.pic{
    height: 5rem;
    width:5rem;
}

}









.close{
    // border: 2px solid gray;
    list-style: none;
}


