
.bottom-container {
    width: 100%;
}

.client-section {
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3rem;
  @media (max-width:800px){
      flex-direction: column;
  }

  button {
    margin: 1rem;
}

p {
    margin: 1rem;
    font-size: 1.4rem;
    color: black;
}
}

.trainer-section {
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3rem;
  @media (max-width:800px){
    flex-direction: column;
}
  button {
      margin: 1rem;
  }

  p {
      margin: 1rem;
      font-size: 1.4rem;
      color: black;
  }
}

.btn {
    padding: 0.5rem 2rem;
    background: @light-orange;
    border-radius: 10rem;
    font-size: 1.5rem;
    border: none;
    color: @white;
    transition: ease .2s;
  
    &:hover {
        color: @light-orange;
        background: @white;
    }
  }
  img{
      max-width: 40rem;
      width: 50%;
  }