
.container {
width: 100%;
height: 100vh;
background:linear-gradient(rgba(0, 0, 0, 0.171), rgba(0, 0, 0, 0.5)), url(../assests/img/meghan-holmes-buWcS7G1_28-unsplash.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}
.banner{
    border:2px solid green;
    margin: 2rem;

}
.header {
width: 100%;
margin: 3rem;
margin-left: 0;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 75px;
display: flex;
align-items: center;
color: #FFFFFF;
}
.statement {
    width: 30%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.signup-parent{
    border:3px solid orange;
    display: flex;

}
.signup-section{
width: 49.5%;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 37px;
display: flex;
align-items: center;
color: #FFFFFF;
}

.btn {
padding:.5rem;
background: @light-orange;
border-radius:10rem;
font-size: 1.5rem;
}

