.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(143, 130, 202, 0.171), rgba(91, 19, 207, 0.5)),
    url(../assests/img/meghan-holmes-buWcS7G1_28-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner {
    padding: 2rem;
}
.header {
  width: 100%;
  margin: 3rem;
  margin-top: 0;
  margin-left: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.statement {
  width: 30%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.signup-parent {
  display: flex;
  justify-content: space-around;
  background: #e0dede2d;
}
.signup-section {
  width: 40%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.spacer-bar {
    width: .5%;
    background-color: @very-light-gray;
}

.signup-content {
  margin: 2rem;
  .flexCenterColumn;
  justify-content: space-between;

  h3 {
      margin-bottom: 1rem;
  }

  button {
      margin: 1rem;
  }

  p {
      margin: 1rem;
      font-size: 1.4rem;
      color: black;
  }

  a {
      .textNormalize;
      &:hover {
          text-decoration: underline;
      }
  }

}

.btn {
  padding: 0.5rem 2rem;
  background: @light-orange;
  border-radius: 10rem;
  font-size: 1.5rem;
  border: none;
  color: @white;
  transition: ease .2s;

  &:hover {
      color: @light-orange;
      background: @white;
  }
}


