.middle-sections {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .top, .bottom {
        height: 85vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(@white, @gradient-blue, @white);

        h2 {
            font-size: 35px;
            color: @white;
            font-weight: bold;
        }

        p {
            font-size: 22px;
            color: @white;
        }

        .left {
            width: 100%;
            display: flex;
            justify-content: center;

            .img {
                height: 100%;
                border: 1px solid;
                box-shadow: -15px -15px @box-shadow-one;
            }
        }

        .right {
            width: 65%;
            display: flex;
            padding-right: 5rem;
        }
    }

    .middle {
        height: 85vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(@gradient-purple, @white, @gradient-purple);

        h2 {
            font-size: 35px;
            color: @font-color;
            font-weight: bold;
        }

        p {
            font-size: 22px;
            color: @font-color;
        }

        .left {
            width: 65%;
            display: flex;
            padding-left: 5rem;
        }

        .right {
            width: 100%;
            display: flex;
            justify-content: center;

            .img {
                height: 100%;
                border: 1px solid;
                box-shadow: 15px -15px @box-shadow-two;
            }
        }
    }
}