.middle-sections {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-size: 24px;
        color: @font-color;
        font-weight: bold;
    }

    .top {
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: @gradient-blue;
        background: linear-gradient(@white, @gradient-blue);

        .left {
            width: 49.5%;
            display: flex;
            justify-content: center;

            .img {
                height: 40vh;
            }
        }

        .right {
            width: 49.5%;
            display: flex;
        }
    }

    .middle {
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(@white, @gradient-purple);

        .left {
            width: 49.5%;
            display: flex;
        }

        .right {
            width: 49.5%;
            display: flex;
        }
    }

    .bottom {
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: @gradient-purple;
        background: linear-gradient(@gradient-purple, @white, @gradient-purple);

        .left {
            width: 49.5%;
            display: flex;
        }

        .right {
            width: 49.5%;
            display: flex;
        }
    }
}


