// Color Assignments

@gradient-purple: @bright-violet;
@gradient-blue: @bright-blue;

@button-blue: @vivid-blue;
@button-orange: @light-orange;
@update-button: @moderate-lime-green;
@delete-button: @bright-red;

@font-color: @very-dark-grayish-blue;

@logo-outer-circle: @moderate-cyan;
@logo-anywhere: @pure-orange;
@logo-fitness: @dark-blue;

// Brand Colors

@vivid-blue: #32C5FF;
@light-orange: #FF8C42;
@moderate-cyan: #44D7B6;
@soft-lime-green: #6AF682;

// System Colors

@bright-red: #F74444;
@moderate-lime-green: #3CB948;

// Other Colors

@white: #FFFFFF;
@very-light-gray: #F6F6F6;
@very-dark-grayish-blue: #323337;
@dark-grayish-blue: #858891;
@mostly-desaturated-dark-blue: #6B7897;
@grayish-lime-green: #C3C4C3;
@very-light-gray: #E9E9E9;

@bright-violet: #7630DC;
@bright-blue: #3D9DE2;

@dark-blue: #00518E;
@pure-orange: #FA6400;