// Color Assignments

@gradient-purple: @bright-violet;
@gradient-blue: @bright-blue;

@button-blue: @bright-cyan;
@button-orange: @light-orange;
@update-button: @moderate-lime-green;
@delete-button: @bright-red;
@search-button: @vivid-blue;

@font-color: @very-dark-grayish-blue;
@warning-font-color: @bright-red;

@check-circles: @very-light-gray;

@special-offer-background: @very-dark-grayish-blue;
@date-box-background: @light-red;
@profile-background: @light-grayish-cyan;

@logo-outer-circle: @very-light-cyan;
@logo-anywhere: @pure-orange;
@logo-fitness: @dark-blue;


// Colors

@white: #FFFFFF;
@very-light-gray: #F6F6F6;

@light-grayish-cyan: #D6E5EA;
@very-light-cyan: #8CEAFF;
@bright-blue: #3D9DE2;
@bright-cyan: #3EC7E6;
@dark-blue: #00518E;
@very-dark-grayish-blue: #323337;
@strong-cyan: #2CA0BA;
@vivid-blue: #32C5FF;
@very-dark-grayish-blue: #323337;

@bright-violet: #7630DC;

@light-red: #FF6260;
@bright-red: #F74444;

@light-orange: #FF8C42;
@pure-orange: #FA6400;

@moderate-lime-green: #3CB948;
